.subHeading {
  border-top: 1px solid lightskyblue;
  border-bottom: 0.5px solid black;
  color: #f3a718;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 200px;
}

.container {
  margin: 70px;
  font-family: 'Times New Roman';
}

.flowerContainer {
  display: flex;
}

.imageContainer {
  width: 800px;
  height: auto;
  border: 1px solid black;
}

.big-font-size {
  font-size: x-large;
}

.flowerHeading {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  text-align: center;
  color: #f3a718;
}

.flowerImage {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
.rightSideInfo {
  padding-left: 30px;
}
.flowerInformation {
  line-height: 25px;
}

.guestBookHeading {
  text-align: center;
  color: #f3a718;
}

.commentContainer {
  border-top: 1px solid black;
}
